.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2.5rem;
}

.card {
  width: 100%;
  margin-top: 3rem;
}

.select {
  width: 20rem;
}

.select-text {
  margin-top: 3rem;
  margin-bottom: 0.5rem;
}

.container-custom {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 1rem;
}

.modal-dialog {
  max-width: 80vw;
}

.modal-content {
  width: fit-content;
  padding: 1rem;
  margin: 0 auto;
}

.text {
  font-size: 1.2rem;
  margin-top: 2rem;
}

.modal-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 999;
}

.modal-container {
  display: flex;
  justify-content: flex-start;
  justify-content: center;
}

.modal-card {
  max-height: 100%;
  max-width: 100%;
  background: white;
  padding: 1rem;
  margin-top: 1.5rem;
}

.zoom-img {
  max-height: 80vh;
  max-width: 80vw;
}

@media only screen and (max-width: 1200px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media only screen and (max-width: 600px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}
